ivicelig_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/ivicelig_aplikacija_1/MeteoPodaci.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.ivicelig.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.ivicelig.nwtis.foi.org/" name="MeteoPodaci">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.ivicelig.nwtis.foi.org/" schemaLocation="http://localhost:8084/ivicelig_aplikacija_1/MeteoPodaci?xsd=1"/>
</xsd:schema>
</types>
<message name="posljednjaNmeteoPodatakaZaParkiraliste">
<part name="parameters" element="tns:posljednjaNmeteoPodatakaZaParkiraliste"/>
</message>
<message name="posljednjaNmeteoPodatakaZaParkiralisteResponse">
<part name="parameters" element="tns:posljednjaNmeteoPodatakaZaParkiralisteResponse"/>
</message>
<message name="zadnjePreuzetiMeteoPodaci">
<part name="parameters" element="tns:zadnjePreuzetiMeteoPodaci"/>
</message>
<message name="zadnjePreuzetiMeteoPodaciResponse">
<part name="parameters" element="tns:zadnjePreuzetiMeteoPodaciResponse"/>
</message>
<message name="dohvatiMeteoPodatkeUintervalu">
<part name="parameters" element="tns:dohvatiMeteoPodatkeUintervalu"/>
</message>
<message name="dohvatiMeteoPodatkeUintervaluResponse">
<part name="parameters" element="tns:dohvatiMeteoPodatkeUintervaluResponse"/>
</message>
<message name="vazeciMeteoPodaci">
<part name="parameters" element="tns:vazeciMeteoPodaci"/>
</message>
<message name="vazeciMeteoPodaciResponse">
<part name="parameters" element="tns:vazeciMeteoPodaciResponse"/>
</message>
<portType name="MeteoPodaci">
<operation name="posljednjaNmeteoPodatakaZaParkiraliste">
<input wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/posljednjaNmeteoPodatakaZaParkiralisteRequest" message="tns:posljednjaNmeteoPodatakaZaParkiraliste"/>
<output wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/posljednjaNmeteoPodatakaZaParkiralisteResponse" message="tns:posljednjaNmeteoPodatakaZaParkiralisteResponse"/>
</operation>
<operation name="zadnjePreuzetiMeteoPodaci">
<input wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/zadnjePreuzetiMeteoPodaciRequest" message="tns:zadnjePreuzetiMeteoPodaci"/>
<output wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/zadnjePreuzetiMeteoPodaciResponse" message="tns:zadnjePreuzetiMeteoPodaciResponse"/>
</operation>
<operation name="dohvatiMeteoPodatkeUintervalu">
<input wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/dohvatiMeteoPodatkeUintervaluRequest" message="tns:dohvatiMeteoPodatkeUintervalu"/>
<output wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/dohvatiMeteoPodatkeUintervaluResponse" message="tns:dohvatiMeteoPodatkeUintervaluResponse"/>
</operation>
<operation name="vazeciMeteoPodaci">
<input wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/vazeciMeteoPodaciRequest" message="tns:vazeciMeteoPodaci"/>
<output wsam:Action="http://serveri.ws.ivicelig.nwtis.foi.org/MeteoPodaci/vazeciMeteoPodaciResponse" message="tns:vazeciMeteoPodaciResponse"/>
</operation>
</portType>
<binding name="MeteoPodaciPortBinding" type="tns:MeteoPodaci">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="posljednjaNmeteoPodatakaZaParkiraliste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zadnjePreuzetiMeteoPodaci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiMeteoPodatkeUintervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vazeciMeteoPodaci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MeteoPodaci">
<port name="MeteoPodaciPort" binding="tns:MeteoPodaciPortBinding">
<soap:address location="http://localhost:8084/ivicelig_aplikacija_1/MeteoPodaci"/>
</port>
</service>
</definitions>