ivicelig_aplikacija_2_2/web/WEB-INF/wsdl/localhost_8084/ivicelig_aplikacija_1/MeteoPodaci.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://serveri.ws.ivicelig.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.ivicelig.nwtis.foi.org/">

<xs:element name="dohvatiMeteoPodatkeUintervalu" type="tns:dohvatiMeteoPodatkeUintervalu"/>

<xs:element name="dohvatiMeteoPodatkeUintervaluResponse" type="tns:dohvatiMeteoPodatkeUintervaluResponse"/>

<xs:element name="posljednjaNmeteoPodatakaZaParkiraliste" type="tns:posljednjaNmeteoPodatakaZaParkiraliste"/>

<xs:element name="posljednjaNmeteoPodatakaZaParkiralisteResponse" type="tns:posljednjaNmeteoPodatakaZaParkiralisteResponse"/>

<xs:element name="vazeciMeteoPodaci" type="tns:vazeciMeteoPodaci"/>

<xs:element name="vazeciMeteoPodaciResponse" type="tns:vazeciMeteoPodaciResponse"/>

<xs:element name="zadnjePreuzetiMeteoPodaci" type="tns:zadnjePreuzetiMeteoPodaci"/>

<xs:element name="zadnjePreuzetiMeteoPodaciResponse" type="tns:zadnjePreuzetiMeteoPodaciResponse"/>

<xs:complexType name="zadnjePreuzetiMeteoPodaci">
<xs:sequence>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjePreuzetiMeteoPodaciResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="preuzeto" type="xs:dateTime" minOccurs="0"/>
<xs:element name="rj" type="tns:responseJSON" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseJSON">
<xs:sequence>
<xs:element name="base" type="xs:string" minOccurs="0"/>
<xs:element name="clouds" type="tns:clouds" minOccurs="0"/>
<xs:element name="cod" type="xs:int" minOccurs="0"/>
<xs:element name="coord" type="tns:coord" minOccurs="0"/>
<xs:element name="dt" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="main" type="tns:main" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="sys" type="tns:sys" minOccurs="0"/>
<xs:element name="visibility" type="xs:int" minOccurs="0"/>
<xs:element name="weather" type="tns:weather" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="wind" type="tns:wind" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clouds">
<xs:sequence>
<xs:element name="all" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="coord">
<xs:sequence>
<xs:element name="lat" type="xs:double" minOccurs="0"/>
<xs:element name="lon" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="main">
<xs:sequence>
<xs:element name="humidity" type="xs:double" minOccurs="0"/>
<xs:element name="pressure" type="xs:double" minOccurs="0"/>
<xs:element name="temp" type="xs:double" minOccurs="0"/>
<xs:element name="tempMax" type="xs:double" minOccurs="0"/>
<xs:element name="tempMin" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sys">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="message" type="xs:double" minOccurs="0"/>
<xs:element name="sunrise" type="xs:int" minOccurs="0"/>
<xs:element name="sunset" type="xs:int" minOccurs="0"/>
<xs:element name="type" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weather">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="icon" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="main" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wind">
<xs:sequence>
<xs:element name="deg" type="xs:double" minOccurs="0"/>
<xs:element name="speed" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posljednjaNmeteoPodatakaZaParkiraliste">
<xs:sequence>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="n" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posljednjaNmeteoPodatakaZaParkiralisteResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiMeteoPodatkeUintervalu">
<xs:sequence>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="od" type="xs:long"/>
<xs:element name="Do" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dohvatiMeteoPodatkeUintervaluResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vazeciMeteoPodaci">
<xs:sequence>
<xs:element name="korime" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vazeciMeteoPodaciResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>